<div>
    <!--<label>Tên đăng nhập:</label>-->

    <!--<input type="text" name="Username" ng-model="account.userName"/> <br>-->

    <!--<label>Mật khẩu:</label>-->

    <!--<input type="password" name="Username" ng-model="account.password"/> <br>-->

    <!--<button ng-click="dangnhap()">Đăng nhập</button>-->

    <div class="login">
        <h1>Login to Server</h1>
        <form>
            <p><input type="text" name="login" value="" placeholder="Username or Email" ng-model="account.userName"></p>
            <p><input type="password" name="password" value="" placeholder="Password" ng-model="account.password"></p>
            </p>
            <p class="submit" ng-click="dangnhap()"><input type="submit" name="commit" value="Login"></p>
        </form>
    </div>
</div>
