<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-9">
        <form>
            <label for="1">Ten cong viec: </label><input type="text" ng-model="job.jobName" id="1"><br>
            <label for="2">Yeu cau: </label><input type="text" ng-model="job.jobReq" id="2"><br>
            <label for="3">So luong tuyen dung: </label><input type="number" ng-model="job.jobAvailable" id="3"><br>
            <label for="4">Con lai</label><input type="number" ng-model="job.jobLeft" id="4"><br>
            <input type="submit" value="Tao Job" ng-click="taoJob()">
        </form>
    </div>
</div>