<head>
    <style>
        button {
            background-color: #85C1E9;
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
            align: right;
        }
    </style>
</head>
<body>
<div class="container-fluid" >
    <div class="row">
        <div class="col-xs-7 col-sm-6 col-lg-8">
            <h2>Danh sach sinh vien</h2>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Ho va ten</th>
                        <th>Ma sinh vien</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="aStudent in listScore" ng-class="{current: selected == $index}">
                        <td>
                            {{aStudent.id}}
                        </td>
                        <td>
                            <a href="" ng-click="setSelected($index); showstudent(); setId(aStudent.id)">{{aStudent.lastName}}   {{aStudent.firstName}}</a>
                        </td>
                        <td>{{aStudent.msv}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <button ng-click="guiDiem()">Gửi điểm</button><br><br><br><br>
        </div>
        <div class="col-xs-5 col-sm-6 col-lg-4">
            <h2>Thông tin điểm</h2>
            <div ng-show="hien">
                <ul>
                    <li>Ý thức học tập: {{listScore[selected].conductScoreDTO.yThucHocTap}}</li>
                    <li>Ý thức và kết quả chấp hành nội quy, quy chế trong nhà trường: {{listScore[selected].conductScoreDTO.yThucChapHanh}}</li>
                    <li>Ý thức và kết quả tham gia các hoạt động chính trị xã hội, văn hóa, văn nghệ, thể thao phòng chống tệ nạn xã hội : {{listScore[selected].conductScoreDTO.yThucHoatDong}}</li>
                    <li>Phẩm chất công dân và quan hệ với cộng đồng: {{listScore[selected].conductScoreDTO.phamChatCongDan}}</li>
                    <li>Ý thức và kết quả tham gia phụ trách lớp, các đoàn thể trong trường: {{listScore[selected].conductScoreDTO.congTacPhuTrach}}</li>

                </ul>

            </div>

        </div>
    </div>
</div>

</body>
