<!DOCTYPE html>
<html>
<head>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even){background-color: #f2f2f2}

        th {
            background-color: #85C1E9;
            color: white;
        }
        button {
            background-color: #85C1E9;
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
            align: right;
        }
    </style>
    <!--<style>-->
        <!--table, th, td {-->
            <!--text-align: left;-->
            <!--border: 1px solid black;-->
        <!--}-->
    <!--</style>-->
</head>
<body>
<div>
<table width=900>
    <tr>
        <th>Nội DUNG ĐÁNH GIÁ</th>
        <th width="100">Điểm do sinh viên tự đánh giá</th>
    </tr>
</table>
<table width="900">
    <tr>
        <th width="50">I</th>
        <th>Đánh giá về ý thức học tập : (Tổng điểm không quá 30)</th>
        <th width="50"><input type="number" min="0" max="30" name="yThucHocTap" style="color:black" ng-model="Setscore.yThucHocTap"/></th>
    </tr>
    <tr>
        <th width="50">1</th>
        <th>Điểm thưởng về học tập: ( Chỉ tính điểm lần 1- Chọn 1 tiêu chí phù hợp)</th>
    </tr>
</table>
<table width="900">
    <tr>
        <td width="50">a</td>
        <td>Có điểm TBCHT từ 9 trở lên</td>
        <td width="50">6đ</td>
        <td width="50"></td>
    </tr>
    <tr>
        <td width="50">b</td>
        <td>Có điểm TBCHT từ 8 đến cận 9</td>
        <td width="50">5đ</td>
        <td width="50"></td>
    </tr>
    <tr>
        <td width="50">c</td>
        <td>Có điểm TBCHT từ 7 đến cận 8</td>
        <td width="50">4đ</td>
        <td width="50"></td>
    </tr>
    <tr>
        <td width="50">d</td>
        <td>Có điểm TBCHT từ 6 đến cận 7</td>
        <td width="50">3đ</td>
        <td width="50"></td>
    </tr>
    <tr>
        <td width="50">e</td>
        <td>Có điểm TBCHT từ 5 đến cận 6</td>
        <td width="50">2đ</td>
        <td width="50"></td>
    </tr>
    <tr>
        <td width="50">f</td>
        <td>Có điểm TBCHT dưới 5</td>
        <td width="50">0đ</td>
        <td width="50"></td>
    </tr>
    <tr>
        <th width="50">2</th>
        <th width="750">Nghiên cứu Khoa học, thi Olympic (Tối đa không quá 6 điểm – Chọn 1 tiêu chí phù hợp)</th>
    </tr>
    <tr>
        <td width="50">a</td>
        <td>Đạt giải I, II, III cấp bộ, cấp thành phố, toàn quốc</td>
        <td width="50">6đ</td>
        <td width="50"></td>
    </tr>
    <tr>
        <td width="50">b</td>
        <td>Đạt giải khuyến khích cấp bộ, cấp thành phố, toàn quốc</td>
        <td width="50">5đ</td>
        <td width="50"></td>
    </tr>
    <tr>
        <td width="50">c</td>
        <td>Đạt giải I, II, III cấp Trường</td>
        <td width="50">4đ</td>
        <td width="50"></td>
    </tr>
    <tr>
        <td width="50">d</td>
        <td>Đạt giải khuyến khích cấp trường</td>
        <td width="50">3đ</td>
        <td width="50"></td>
    </tr>
    <tr>
        <td width="50">e</td>
        <td>Đạt giải I, II, III cấp Khoa</td>
        <td width="50">2đ</td>
        <td width="50"></td>
    </tr>
    <tr>
        <td width="50">f</td>
        <td>Tham gia nghiên cứu khoa học, thi Olympic</td>
        <td width="50">1đ</td>
        <td width="50"></td>
    </tr>
    <tr>
        <th width="50">3</th>
        <th width="750">Thực hiện nội quy, quy chế học tập (Tối đa không quá 18 điểm – Chọn tiêu chí  phù hợp)</th>
    </tr>
    <tr>
        <td width="50">a</td>
        <td>Không vi phạm quy chế thi, kiểm tra</td>
        <td width="50">10đ</td>
        <td width="50"></td>
    </tr>
    <tr>
        <td width="50">b</td>
        <td>Đi học đầy đủ, đúng giờ, nghiêm túc trong giờ học</td>
        <td width="50">2đ</td>
        <td width="50"></td>
    </tr>
    <tr>
        <td width="50">c</td>
        <td>Tham gia đầy đủ các buổi trao đổi kinh nghiệm học tập, nội quy, quy chế học tập, các buổi sinh hoạt lớp</td>
        <td width="50">6đ</td>
        <td width="50"></td>
    </tr>
    <tr>
        <td width="50">d</td>
        <td>Vi phạm quy chế thi bị đình chỉ ( Giảm điểm, không tính mục 3a)</td>
        <td width="50">2đ</td>
        <td width="50"></td>
    </tr>
    <tr>
        <td width="50">e</td>
        <td>Vi phạm quy chế thi bị cảnh cáo ( Giảm điểm, không tính mục 3a)</td>
        <td width="50">6đ</td>
        <td width="50"></td>
    </tr>
    <tr>
        <td width="50">f</td>
        <td>Vi phạm quy chế thi bị khiển trách ( Giảm điểm, không tính mục 3a)</td>
        <td width="50">8đ</td>
        <td width="50"></td>
    </tr>
    <tr>
        <td width="50">h</td>
        <td>Nghỉ học không lý do, bỏ học (Giảm điểm, không tính mục 3b )</td>
        <td width="50">0đ</td>
        <td width="50"></td>
    </tr>
    <tr>
        <th width="50">II</th>
        <th>Đánh giá về ý thức và kết quả chấp hành nội quy, quy chế trong nhà trường (Tổng điểm không quá 25)</th>
        <th width="50"></th>
        <th width="50"><input type="number" min="0" max="30" name="yThucChapHanh"  style="color:black" ng-model="Setscore.yThucChapHanh"/></th>
    </tr>
    <tr>
        <td width="50">1</td>
        <td>Chấp hành tốt quy chế, nội quy, quy định khác ngoài Quy chế 43/2007/QĐ-BGDĐT của BGD&ĐT</td>
        <td width="50">20đ</td>
        <td width="50"></td>
    </tr>
    <tr>
        <td width="50">2</td>
        <td>Đóng học phí đúng quy định</td>
        <td width="50">5đ</td>
        <td width="50"></td>
    </tr>
    <tr>
        <td width="50">3</td>
        <td>Bị kỷ luật khiển trách (Không tính mục II.1, bị trừ 10 đ)</td>
        <td width="50">10đ</td>
        <td width="50"></td>
    </tr>
    <tr>
        <td width="50">3</td>
        <td>Đóng học phí không đúng hạn (Giảm điểm,không tính mục II.2)</td>
        <td width="50">0đ</td>
        <td width="50"></td>
    </tr>
    <tr>
        <th width="50">III</th>
        <th>Đánh giá về ý thức và kết quả tham gia các hoạt động chính trị xã hội, văn hóa, văn nghệ, thể thao phòng chống tệ nạn xã hội (Tổng điểm không quá 20 )</th>
        <th width="50"></th>
        <th width="50"><input type="number" min="0" max="30" name="yThucHoatDong"  style="color:black" ng-model="Setscore.yThucHoatDong"/></th>
    </tr>
    <tr>
        <td width="50">a</td>
        <td>Tham gia đầy đủ các hoạt động tập thể của chi đoàn, Liên chi đoàn, Liên chi hội, Đoàn trường, Hội SV</td>
        <td width="50">15đ</td>
        <td width="50"></td>
    </tr>
    <tr>
        <td width="50">b</td>
        <td>Có thành tích đấu tranh phòng chống tệ nạn xã hội, văn nghệ thể thao được khen thưởng (Chọn một tiêu chí nếu có):</td>
        <td width="50"></td>
        <td width="50"></td>
    </tr>
    <tr>
        <td width="50"></td>
        <td>* Cấp Trung ương</td>
        <td width="50">5đ</td>
        <td width="50"></td>
    </tr>
    <tr>
        <td width="50"></td>
        <td>* Cấp Thành phố, khu vực</td>
        <td width="50">4đ</td>
        <td width="50"></td>
    </tr>
    <tr>
        <td width="50"></td>
        <td>* Cấp Trường, Khoa ( hoặc tương đương)</td>
        <td width="50">3đ</td>
        <td width="50"></td>
    </tr>
    <tr>
        <td width="50">c</td>
        <td>Không sinh hoạt tập thể (Đoàn, Hội, Lớp, Khoa, Trường)</td>
        <td width="50">-2đ/lần</td>
        <td width="50"></td>
    </tr>
    <tr>
        <th width="50">IV</th>
        <th>Đánh giá về phẩm chất công dân và quan hệ với cộng đồng (Tổng điểm không quá 15)</th>
        <th width="50"></th>
        <th width="50"><input type="number" min="0" max="30" name="phamChatCongDan"  style="color:black" ng-model="Setscore.phamChatCongDan"/></th>
    </tr>
    <tr>
        <td width="50">1</td>
        <td>Chấp hành tốt mọi chủ trương chính sách, pháp luật của nhà nước (có xác nhận nơi cư trú)</td>
        <td width="50">10đ</td>
        <td width="50"></td>
    </tr>
    <tr>
        <td width="50">2</td>
        <td>Tham gia phong trào tự quản ở trường và nơi cư trú</td>
        <td width="50">5đ</td>
        <td width="50"></td>
    </tr>
    <tr>
        <td width="50">3</td>
        <td>Vi phạm pháp luật (chưa đến mức truy cứu trách nhiệm hình sự), thiếu ý thức tham gia trật tự an toàn xã hội,không chấp hành đầy đủ chủ trương chính sách pháp luật của nhà nước
            ( Không được tính mục IV.1, giảm 5 điểm còn: 10đ-5đ = 5 đ)
        </td>
        <td width="50">5đ</td>
        <td width="50"></td>
    </tr>
    <tr>
        <td width="50">4</td>
        <td>Thuê nhà không trả tiền đúng thời hạn chủ nhà khiếu nại đến nhà trường, thiếu ý thức giữ gìn của công, bị khiếu nại sai phạm
            ( Không được tính mục IV.1, giảm 5 điểm còn: 10đ-5đ= 5đ )
        </td>
        <td width="50">5đ</td>
        <td width="50"></td>
    </tr>
    <tr>
        <td width="50">5</td>
        <td>Gây mất đoàn kết trong lớp, trong Trường, trong ký túc xá
            ( Không được tính mục IV.2, giảm 5 điểm còn: 5đ-5đ = 0 đ )
        </td>
        <td width="50">0đ</td>
        <td width="50"></td>
    </tr>
    <tr>
        <th width="50">V</th>
        <th>Đánh giá về ý thức và kết quả tham gia phụ trách lớp, các đoàn thể trong trường (Tổng điểm không quá 10)</th>
        <th width="50"></th>
        <th width="50"><input type="number" min="0" max="30" name="congTacPhuTrach"  style="color:black" ng-model="Setscore.congTacPhuTrach"/></th>
    </tr>
    <tr>
        <td width="50">1</td>
        <td>Cán bộ hoàn thành nhiệm vụ, tích cực tuyên truyền, vận động lôi cuốn người khác cùng tham gia công việc tập thể có hiểu quả</td>
        <td width="50">5đ</td>
        <td width="50"></td>
    </tr>
    <tr>
        <td width="50">2</td>
        <td>Đánh giá về ý thức và kết quả tham gia phụ trách lớp, các đoàn thể trong trường (Tổng điểm không quá 10</td>
        <td width="50"></td>
        <td width="50"></td>
    </tr>
    <tr>
        <td width="50"></td>
        <td>Cấp Trường:</td>
        <td width="50">3đ</td>
        <td width="50"></td>
    </tr>
    <tr>
        <td width="50"></td>
        <td>Cấp trung ương, Thành Phố, Khu vực</td>
        <td width="50">5đ</td>
        <td width="50"></td>
    </tr>
    <tr>
        <th width="50">VI</th>
        <th>Trường hợp đặc biệt</th>
        <th width="50">5đ</th>
        <th width="50"></th>
    </tr>
    <tr>
        <td width="50">1</td>
        <td>SV bị kỷ luật đình chỉ cấp trường: Điểm RL cả năm đánh giá mức Kém ( Tương ứng 29đ)</td>
    </tr>
    <tr>
        <td width="50">2</td>
        <td>SV bị kỷ luật cảnh cáo cấp trường: Điểm RL học kỳ không quá mức Trung bình(  ≤ 59đ)</td>
    </tr>
</table>
<br>
<button width="48" height="48"  ng-click="chamdiem()">GỬI</button>
</div>
<BR>
<BR>
<BR>
<BR>
</body>
</html>

<!--<div>-->
    <!--y thuc hoc tap : <input type="number" min="0" max="30" name="yThucHocTap" ng-model="setscore.yThucHocTap"/> <br>-->
    <!--y thuc chap hanh : <input type="number" min="0" max="30" name="yThucChapHanh" ng-model="setscore.yThucChapHanh"/> <br>-->
    <!--y thuc hoat dong: <input type="number" min="0" max="30" name="yThucHoatDong" ng-model="setscore.yThucHoatDong"/> <br>-->
    <!--pham chat cong dan: <input type="number" min="0" max="30" name="phamChatCongDan" ng-model="setscore.phamChatCongDan"/> <br>-->
    <!--cong tac phu trach : <input type="number" min="0" max="30" name="congTacPhuTrach" ng-model="setscore.congTacPhuTrach"/> <br>-->
    <!--<button ng-click="chamdiem()">gui</button>-->
<!--</div>-->